@media all and(max-width: 350px) {
  .facet_sidebar {
    display: none;
  }

button{
padding:4px;
font-size:12px;
}
input[type=text] input[type=password]{
padding: 8px;
}
label{
font-size:12px;
}
h2{
font-size:15px;
}
p{
font-size:12px;
}
div#envelope{
width: 80%;
margin: 10px 50% 10px 11%;
}
}