
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.showdown {
    display: inline-block;
    width: 20%;
    border: 3px solid transparent;
}

.thumbnail {
    padding: 0;
}

.thumbnail .inner-container {
    border: 4px solid transparent;
    transition: border-color 0.2s;
    overflow: hidden;
}

.thumbnail .inner-container:hover {
    border-color: #23b7f5;
    cursor: pointer;
}

.thumbnail img {
    max-width: 120%;
}

.thumbnail .image-container {
    height: 350px;
    background-color: #3b3f51;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

img {
    max-width: 100%;
}
/* My Test style*/

